[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-yaml = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"

[dev-packages]

